@use "./../../shared";

.page-content {
    min-height: 100%;

    .card {
        @include shared.border;
    }
}


.hero-image {
    @include shared.border;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}


.blog-article {
    //TODO: Set Styles for MD files
}