.carousel-container {
    width: calc(100% - 2rem);
    max-width: 800px;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

// Styles applied in desktop environment
.desktop {
    .carousel-container {
        margin-bottom: 4rem;
    }
}
