.hamburger-menu {
    display: flex;
    flex-direction: column;
}

.hamburger-menu heading {
    width: 100%;
}

.hamburger-menu .content {
    display: none;
}

.hamburger-menu > button {
    width: 48px;
    height: 48px;
}

.hamburger-menu dialog {
    margin: 0;
    margin-inline-end: auto;
    height: 100%;
}


.hamburger-menu {
    /* Open state */
    dialog[open] {
        display: flex;
        flex-direction: column;
        opacity: 1;
        transform: translateX(0);
        transition: 
            opacity 0.4s ease,
            transform 0.4s ease-in-out,
            display 0.4s allow-discrete;
    }

    /* Same as closed state */
    @starting-style {
        dialog[open] {
            opacity: 0;
            transform: translateX(-100%); // starts slightly smaller
        }
    }

    /* Closed state default */
    dialog {
        opacity: 0;
        transform: translateX(-100%);
        transition: 
            opacity 0.3s ease,
            transform 0.3s ease,
            display 0.3s allow-discrete;
    }

    .dialog-content {
        flex: 1;
    }

    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0);
        transition: display 0.4s allow-discrete, background-color 0.4s ease;
    }

    dialog[open]::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    @starting-style {
        dialog[open]::backdrop {
            background-color: rgba(0, 0, 0, 0);
        }
    }
}



.desktop {
    .hamburger-menu .content {
        display: unset;
    }

    .hamburger-menu > button {
        display: none;
    }
}
