
.gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    gap: 1rem;

    >* {
        height: auto;
        width: 100%;
        display: flex;
    }

    img {
        width: 100%;
        max-height: 75vh;
        object-fit: cover;
        vertical-align: bottom;
    }
}

// Styles applied in desktop environment
.desktop {
    .gallery {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;

        >* {
            height: 260px;
            width: auto;
            flex-grow: 1;
        }

        >*:last-child {
            flex-grow: 10;
        }

        img {
            max-height: 100%;
            min-width: 100%;
            width: auto;
        }
    }
}